@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Arial", sans-serif;
  font-family: "Plus Jakarta Sans", serif;
}
@media(max-width:1300px){
  .interior-text{
    font-size: 60px;
  }
  .text-numbers {
    font-size: 25px;

  }
  .text-numbers-container{
    gap: 10px;
    padding-bottom: 40px;
  }
  .Dream-heading{
    font-size: 38px;
  }
}
@media(max-width:992px){
  .interior-text{
    font-size: 45px;
  }
  .Dream-heading{
    font-size: 28px;
  }
  .designing-dream-section{
  flex-direction: column;
  flex-direction: column-reverse;
  }
  .img2{
    max-width:100% ;
    margin: auto;
      }
  .designing-dream-section-text{
    width: 100%;
  }
  .designing-dream-section-heading{
    margin-top: 50px;
  }
}
@media(max-width:768px){
  .interior-text{
    font-size: 35px;
  }
  .interior-text{
   text-align: center;
  }
  .text-numbers-container{
    gap: 30px;
  }
  
}
@media(max-width:500px){
  .text-numbers-container{
    gap: 15px;
  }
 .customers-section-text{
  font-size: 12px;

 }
    
}